<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>qnavry@pvephzgrpu.pbz</string>
	<key>contactName</key>
	<string>daniel</string>
	<key>description</key>
	<string>My version of Vibrant Ink for TextMate 2</string>
	<key>name</key>
	<string>Vivid Excellence</string>
	<key>uuid</key>
	<string>185FF584-9087-46BD-A211-DBC8496D305E</string>
</dict>
</plist>
